<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.company.repository.RoleMapper">

	<resultMap id="role_result_map" type="com.company.entity.Role" >
		<id column="role_id" property="roleId" jdbcType="INTEGER"/>
		<result column="role_name" property="roleName" jdbcType="VARCHAR"/>
		<result column="role_mark" property="roleMark" jdbcType="VARCHAR"/>
		<result column="create_by" property="createBy" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_by" property="updateBy" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<insert id="insertByEntity">
		insert into t_role
		<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="roleId!=null and roleId!=''">
				role_id,
			</if>
      		<if test="roleName!=null and roleName!=''">
				role_name,
			</if>
      		<if test="roleMark!=null and roleMark!=''">
				role_mark,
			</if>
      		<if test="createBy!=null and createBy!=''">
				create_by,
			</if>
      		<if test="createTime!=null and createTime!=''">
				create_time,
			</if>
      		<if test="updateBy!=null and updateBy!=''">
				update_by,
			</if>
      		<if test="updateTime!=null and updateTime!=''">
				update_time,
			</if>
    	</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="roleId!=null and roleId!='' ">
      			#{roleId,jdbcType=INTEGER},
			</if>
      		<if test="roleName!=null and roleName!='' ">
      			#{roleName,jdbcType=VARCHAR},
			</if>
      		<if test="roleMark!=null and roleMark!='' ">
      			#{roleMark,jdbcType=VARCHAR},
			</if>
      		<if test="createBy!=null and createBy!='' ">
      			#{createBy,jdbcType=INTEGER},
			</if>
      		<if test="createTime!=null and createTime!='' ">
      			#{createTime,jdbcType=TIMESTAMP},
			</if>
      		<if test="updateBy!=null and updateBy!='' ">
      			#{updateBy,jdbcType=INTEGER},
			</if>
      		<if test="updateTime!=null and updateTime!='' ">
      			#{updateTime,jdbcType=TIMESTAMP},
			</if>
    	</trim>
	</insert>

	<delete id="delete">
		delete from t_role
		<where>
			AND role_id IN
			<foreach collection="roleIds" index="index" item="roleId" open="("
					 separator="," close=")">
				#{roleId,jdbcType=INTEGER}
			</foreach>
		</where>
	</delete>

	<update id="updateByEntity">
		update t_role
		<set>
			<if test="roleName!=null and roleName!=''">
				role_name=#{roleName},
			</if>
			<if test="roleMark!=null and roleMark!=''">
				role_mark=#{roleMark},
			</if>
			<if test="createBy!=null and createBy!=''">
				create_by=#{createBy},
			</if>
			<if test="createTime!=null and createTime!=''">
				create_time=#{createTime},
			</if>
			<if test="updateBy!=null and updateBy!=''">
				update_by=#{updateBy},
			</if>
			<if test="updateTime!=null and updateTime!=''">
				update_time=#{updateTime},
			</if>
		</set>
		<where>
			<if test="roleId!=null ">
				and role_id=#{roleId,jdbcType=INTEGER}
			</if>
		</where>
	</update>
	
	<select id="queryByObject" resultType="hashMap" >
		SELECT role_id,role_name,role_mark,(select user_name from t_user where user_id = t_user.create_by) AS createName,create_by,create_time,update_by,update_time FROM t_role
		<where>
			<if test="roleId!=null and roleId!=''">
				and role_id  = #{roleId,jdbcType=INTEGER}
			</if>
			<if test="roleName!=null and roleName!=''">
				and role_name = #{roleName,jdbcType=VARCHAR}
			</if>
			<if test="roleMark!=null and roleMark!=''">
				and role_mark = #{roleMark,jdbcType=VARCHAR}
			</if>
			<if test="createBy!=null and createBy!=''">
				and create_by = #{createBy,jdbcType=INTEGER}
			</if>
			<if test="createTimeBegin!=null and createTimeBegin!=''">
				and create_time <![CDATA[ >= ]]> str_to_date(#{createTimeBegin},  '%Y-%m-%d %H:%i:%s') 
			</if>
			<if test="createTimeEnd!=null and createTimeEnd!=''">
				and create_time <![CDATA[ <= ]]> str_to_date(#{createTimeEnd},  '%Y-%m-%d %H:%i:%s') 
			</if>
			<if test="updateBy!=null and updateBy!=''">
				and update_by = #{updateBy,jdbcType=INTEGER}
			</if>
			<if test="updateTimeBegin!=null and updateTimeBegin!=''">
				and update_time <![CDATA[ >= ]]> str_to_date(#{updateTimeBegin},  '%Y-%m-%d %H:%i:%s') 
			</if>
			<if test="updateTimeEnd!=null and updateTimeEnd!=''">
				and update_time <![CDATA[ <= ]]> str_to_date(#{updateTimeEnd},  '%Y-%m-%d %H:%i:%s') 
			</if>
		</where>
			<if test="sortName!=null and sortName!=''">
				ORDER BY ${sortName} ${sortOrder}
			</if>
	</select>

	<select id="selectData" resultType="hashMap" >
		SELECT role_id,role_name,role_mark,create_by,create_by,create_time,update_by,update_time FROM t_role
		<where>
			<if test="roleName!=null and roleName!=''">
				and role_name = #{roleName}
			</if>
			<if test="roleId!=null and roleId!=''">
				and role_id != #{roleId}
			</if>
		</where>
	</select>

</mapper>